.container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 12px;

    .title{
        font-weight: 900;
        text-align: center;
        font-size: 3rem;
        color: var(--purple);
    }

    .motto{
        text-align: center;
        color: var(--light-gray);
        font-size: 1rem;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 4   px;
    }
}