.map-container {
    width: 100%;
    height: 100%;
    position: inherit;

    ::ng-deep{
        .leaflet-div-icon{
            background: none;
            border: none;
        }
        .regular-loc{
            width: 32px;
            height: 32px;
            fill: var(--purple);
            position: absolute;
            top: -12px;
            left: -10px;
        }
        .popup-content{
            background-color: var(--white);
            display: flex;
            flex-direction: column;
            gap: 4px;

            .popup-btn-wrapper{
                display: flex;
                justify-content: flex-end;
                gap: 4px;
            }
        }

        .leaflet-popup-content{
            margin: 0 !important;
            padding: 12px;
        }

        .leaflet-popup-close-button{
            display: none;
        }

        .uploaded-logo{
            cursor: pointer;
            max-height: 32px !important;
        }
    }

}